table {
    margin-bottom: 20pt;
}

.itemCode {
    width: 135pt;
}

.itemDescription {
    width: 359pt;
}

.itemRequestedQuantity {
    width: 310pt;
}

.itemRequestedUnit {
    width: 62pt;
}

.electedVendor {
    width: 720pt;
}

.vendorAlternateQuantity {
    width: 310pt;
}

.vendorAlternateUnit {
    width: 62pt;
}
