name: CI

on:
  push:
    branches:
      - dev
      - stage
      - main

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'
      - run: dotnet restore
      - run: dotnet build --no-restore --configuration Release
      - uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: "./Obiddable.Installer/bin/x64/Release/Obiddable.msi"

  test:
    if: github.ref != 'refs/heads/dev'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'
      - run: dotnet restore
      - run: dotnet test --configuration Release

  extract-version:
    if: github.ref != 'refs/heads/dev'
    runs-on: windows-latest
    outputs:
      version: ${{ steps.getver.outputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
  
      - id: getver
        run: |
          $branch = "${{ github.ref_name }}"
          [xml]$p = Get-Content Directory.Build.props
          
          if ($branch -eq "stage") {
            $v = "v$($p.Project.PropertyGroup.Version.ToString().Trim())-stage"
          } else {
            $v = "v$($p.Project.PropertyGroup.Version)"
          }
          echo "version=$v" >> $env:GITHUB_OUTPUT
          echo "Version: $v"

  tag:
    needs: [test, extract-version]
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          $tag = "${{ needs.extract-version.outputs.version }}"
          git fetch --tags
          if (git tag -l $tag) {
            echo "::error::Tag $tag already exists"
            exit 1
          }
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag $tag
          git push origin $tag

  release:
    needs: [extract-version, tag, build, test]
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: release-artifacts
          path: release-artifacts
      - run: |
          $v = "${{ needs.extract-version.outputs.version }}"
          if (!(Test-Path "./release-artifacts/Obiddable.msi")) {
            throw "Build artifact missing"
          }
          $target = "./Obiddable-$v-win-x64.msi"
          Copy-Item "./release-artifacts/Obiddable.msi" $target
          echo "Prepared: $target"
      - uses: ncipollo/release-action@v1
        with:
          artifacts: Obiddable-${{ needs.extract-version.outputs.version }}-win-x64.msi
          tag: ${{ needs.extract-version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ github.ref == 'refs/heads/stage' }}